# Scala
target
*.class

# IDEA
*.iml
*.ipr
*.iws
.idea
out

# Vim
tags
.*.swp
.*.swo

# eclipse
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml

# Mac OS
.DS_Store
